<nav class="navbar">
    <div class="logo">
      <img src="/images/logo.png" />
    </div>
    <ul class="nav-links">
      <li><a href="/home">Home</a></li>
      <li><a href="/events">Events</a></li>
      <li><a href="/clubs">Clubs</a></li>
      <li><a href="/register">Volunteer</a></li>
      <li><a href="/sports">Sports</a></li>
      <div class="user-image">
        <img src="/images/login image.png" alt="PANDA IMAGE">
      </div>
    </ul>
  </nav>